/build
/lib
/libproject
/nbproject/private
/webapps/serverupdate
/tempfile
/test
/KhanzaHMSServiceAplicare/build/
/KhanzaHMSServiceAplicare/nbproject/private/
/Service-Aplicare/build/
/Service-Aplicare/nbproject/private/
/Service-Aplicare/dist/
/ServiceMobileJKN/build/
/ServiceMobileJKN/dist/
/ServiceMobileJKN/nbproject/private/
/Service-AntreanJKN/build/
/Service-AntreanJKN/dist/
/Service-AntreanJKN/nbproject/private/
/Service-SatuSehat/build/
/Service-SatuSehat/dist/
/Service-SatuSehat/nbproject/private/
/bproject/project.properties
nbproject/project.properties
.DS_Store
**/.DS_Store
src/.DS_Store
setting/database.xml
report/rptPeriksaLabPermintaan.pdf
dist/SimRSUDMATRAMAN.jar
