/build
/lib
/libproject
/nbproject/private
/dist
/webapps/serverupdate
/tempfile
/test
/KhanzaHMSServiceAplicare/build/
/KhanzaHMSServiceAplicare/nbproject/private/
/Service-Aplicare/build/
/Service-Aplicare/nbproject/private/
/Service-Aplicare/dist/
